version: "3.8"

services:
  postgres:
    container_name: neighbor_nexus
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - /var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
